html,

body {
    background: rgb(36, 29, 29);
}

.alert2 {
    background: rgb(179, 190, 255);
    padding: 1rem;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 17%;
    border-radius: 15px;
    color: rgb(11, 0, 74);
    font-family: serif;
  }
  .button1 {
      display: inline-block;
      color: rgb(0, 182, 131);
      font-weight: 800;
      text-decoration: none;
      user-select: none;
      margin-top: 2%;
      margin-right: 15%;
      padding: .5em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 1px;
      transition: 0.2s;
      } 
      a.button1:hover { background: rgba(255,255,255,.2); }
      a.button1:active { background: rgb(201, 10, 10); }