html,

body {
    background-image: url(https://oir.mobi/uploads/posts/2021-02/1612345389_12-p-anime-programmist-art-kartinki-13.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-size: cover;
	  color: rgb(0, 0, 0);
    background-attachment:fixed;
   }


.alert1 {
  background: rgb(179, 190, 255);
  padding: 1rem;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 17%;
  border-radius: 15px;
  color: rgb(11, 0, 74);
  font-family: serif;
  opacity: 0.9;
}

.alert2 {
  background: rgb(179, 190, 255);
  padding: 3rem;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 17%;
  border-radius: 15px;
  color: rgb(11, 0, 74);
  font-family: serif;
  opacity: 0.9;
}

.textfield{
  margin-top: 2%;
  margin-left: 15%;
  padding: -1rem;
  color: rgb(5, 5, 5);
  font-family: Bradley Hand, cursive;
}

.button1 {
  font-weight: 800;
  text-decoration: none;
  margin-top: 10%;
  margin-right: 5%;
  padding: 1em 1em;
  border-radius: 20px;
  transition: 0.5s;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: rgba(255, 255, 255, 0.993);
  
} 

.button1:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.button1:active { 
  background: rgb(13, 16, 218); 
}

.button2 {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: 0.5s;
  margin-left: 60%;

}
.button2:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.button2:active { 
  background: rgb(13, 16, 218); 
}

.flash{
  padding: 10px;
  margin-top: 3%;
  font-family: Bradley Hand, cursive;
}
.flash.success{
  border: 10px solid #21DB56;
  background: #AEFFC5;
  font-family: Bradley Hand, cursive;
}
.flash.error{
  border: 10px solid #db2121;
  background: #ffd5ae;
  font-family: Bradley Hand, cursive;
}

.input__name {
  margin-left: 15%;
  color: #050129;
  opacity: 0.7;
  width: 40%;
  margin-top: 1%;
  border-radius: 20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-indent: 0.5em;
  font-size: 16px;
  }

.input__year {
  font-size: 16px;
  margin-left: 15%;
  color: #050129;
  opacity: 0.7;
  width: 20%;
  margin-top: 1%;
  border-radius: 20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-indent: 0.5em;

}
h1{
  text-transform: uppercase;
  color: #33beff;
  font-style: bolder italic;
  font-family: Bradley Hand, cursive;
  font-size: 58px;
  line-height: 54px;
  text-shadow: 5px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
  background: #494f61;
  opacity: 0.75;
  display: inline-block;
  
}

h2 {
  color: rgb(11, 0, 74);
  font-family: Bradley Hand, cursive;
}