<html>
<head background-color: salmon;>
<title>Online testing system</title>
</head>
<body>
<p><h1 align="center">Результат первого этапа тестирования: {{correct}}/5</h1></p>

<form action="/save_answers" method="POST">
    {% if correct >= 4 %}   
    <div>
            <p><b>1. {{SecondTaskA[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="FIRST" type="text"></p>
            <p><b>2. {{SecondTaskA[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="SECOND" type="text"></p>
            <p><b>3. {{SecondTaskA[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="THIRD" type="text"></p>
            <input class = "button2" type="submit" value="Отправить">
    </div>    
    {% endif %}  
</form>
</body>
</html>