<html>
<head background-color: salmon;>
    <meta charset="utf-8">
    <title>Online testing system</title>
    <link rel="stylesheet" href="/static/Cstyle.css">
    <link rel="shortcut icon" href="https://illustrators.ru/uploads/illustration/image/955699/%D0%9A%D0%BD%D0%B8%D0%B3%D0%B0.png" type="image/x-icon">
</head>
<body>
<p><h1 align="center">Результат первого этапа тестирования: {{correct}}/5</h1></p>

    {% if correct >= 4 %}   
    <form action="/end_and_save" method="POST">
    <div>
            <h2 align="center"> По результатам первого этапа вы набрали достаточное количество баллов для прохождения второго этапа</h2>
            <div class="alert2">
                <p><b>1. {{SecondTaskA[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><textarea class="input_name" name="FIRST" cols="95" rows="25"></textarea></p>
            </div> 
            <div class="alert2">
                <p><b>2. {{SecondTaskA[1]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><textarea class="input_name" name="SECOND" cols="95" rows="25"></textarea></p>
            </div>
            <div class="alert2">
                <p><b>3. {{SecondTaskA[2]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><textarea class="input_name" name="THIRD" cols="95" rows="25"></textarea></p>
                <input class = "button2" type="submit" value="Сохранить и завершить">
            </div>
        </div>        
        </form>   
    {% else %}
    <form action="/end" method="POST">
        <h2 align="center"> По результатам первого этапа вы не набрали достаточное количество баллов для прохождения второго этапа</h2>
        <div>
            <input class = "button3" type="submit" value="Завершить">
        </div>   
    </form>    
    {% endif %}  
</body>
</html>