<html>
<head background-color: salmon;>
    <meta charset="utf-8">
    <title>Online testing system</title>
    <link rel="stylesheet" href="/static/Dstyle.css">
</head>
<body>
<p><h1 align="center">Тестирование разработчика</h1></p>
<div class="alert2">
    <form action="handler.php">
        <p><b>1. {{questions[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
         <p><input name="dzen" type="radio" value="nedzen">Python</p>
         <p><input name="dzen" type="radio" value="dzen"> Java</p>
         <p><input name="dzen" type="radio" value="pdzen" checked> C++ :)</p>
       </form> 
    </div>    
    <div class="alert2">
    <form action="handler.php">
        <p><b>2. {{questions[1]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="dzen" type="radio" value="nedzen"> да</p>
            <p><input name="dzen" type="radio" value="dzen"> хз</p>
            <p><input name="dzen" type="radio" value="pdzen" checked> нет</p>
        </form> 
    </div>   
    <div class="alert2">
        <form action="handler.php">
            <p><b>3. {{questions[1]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><input name="dzen" type="radio" value="nedzen"> да</p>
                <p><input name="dzen" type="radio" value="dzen"> хз</p>
                <p><input name="dzen" type="radio" value="pdzen" checked> нет</p>
            </form> 
        </div>   
    <div class="alert2">
        <form action="handler.php">
            <p><b>4. {{questions[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><input name="dzen" type="radio" value="nedzen"> Расхождение ожидаемого результата с фактическим.</p>
                <p><input name="dzen" type="radio" value="dzen"> хз</p>
                <p><input name="dzen" type="radio" value="pdzen" checked> Ошибка</p>
            </form> 
        </div>    
    <div class="alert2">
        <form action="handler.php">
            <p><b>5. {{questions[0]}}</b> <img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
                <p><input name="dzen" type="radio" value="nedzen"> Расхождение ожидаемого результата с фактическим.</p>
                <p><input name="dzen" type="radio" value="dzen"> хз</p>
                <p><input name="dzen" type="radio" value="pdzen" checked> Ошибка</p>
            </form> 
        </div> 
</body>
</html>