<html>
<head background-color: salmon;>
<title>Online testing system</title>
</head>

<body>
<p><h1 class = "title" align="center">Тестирование сотрудника</h1></p>
<div class="alert2">
    <h2 align="center"> Заполните анкету для тестирования</h2>    
    <span class="input__box"> 
      <div class="col-sm-2 col-xs-2" > Имя:  </div><input class = "input__name"></input>
    </span> 
    <span class="input__box"> 
      <div class="textfield"> Фамилия:  </div><input class = "input__name"></input>
    </span> 
    <span class="input__box"> 
      <div class="textfield"> Город:  </div><input class = "input__name"></input>
    </span>         
    <span class="input__box"> 
      <div class="textfield"> Возраст:  </div><input class = "input__year"></input>
      <button name="save" class="button2 type="submit">Сохранить</button>
    </span>    
  </div>        
<div class="alert1">   
    <span class="input__box"> 
      <div class="text1"><b> На какую должность хотели бы пройти тестирование:</b></div>
    </span>   
    <a href="/developer/" class="button1">Разработчик</a>
    <a href="/tester/" class="button1">Тестировщик</a>
    <a href="/analitix/" class="button1">Аналитик</a>    
</div>
</body>
</html>