<html>
<head background-color: salmon;> 
    <meta charset="utf-8">
    <title>Online testing system</title>
    <link rel="stylesheet" href="/static/Tstyle.css">
</head>
<body>
<p><h1 align="center">Тестирование QA</h1></p>
<form action="/save_answers" method="POST">
    <div class="alert2">
            <p><b>1. {{questions[0]}}</b><img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="FIRST" type="checkbox" value="A"> {{answersA[0]}}</p>
            <p><input name="FIRST" type="checkbox" value="B"> {{answersB[0]}}</p>
            <p><input name="FIRST" type="checkbox" value="C"> {{answersC[0]}}</p>
    </div>    
    <div class="alert2">
            <p><b>2. {{questions[1]}}</b><img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="SECOND" type="checkbox" value="A"> {{answersA[1]}}</p>
            <p><input name="SECOND" type="checkbox" value="B"> {{answersB[1]}}</p>
            <p><input name="SECOND" type="checkbox" value="C"> {{answersC[1]}}</p>
    </div>       
    <div class="alert2">
            <p><b>3. {{questions[1]}}</b><img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="THIRD" type="checkbox" value="A"> {{answersA[2]}}</p>
            <p><input name="THIRD" type="checkbox" value="B"> {{answersB[2]}}</p>
            <p><input name="THIRD" type="checkbox" value="C"> {{answersC[2]}}</p>
    </div>   
    <div class="alert2">
            <p><b>4. {{questions[0]}}</b><img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="FOURTH" type="checkbox" value="A"> {{answersA[3]}}</p>
            <p><input name="FOURTH" type="checkbox" value="B"> {{answersB[3]}}</p>
            <p><input name="FOURTH" type="checkbox" value="C"> {{answersC[3]}}</p>
        </div>    
    <div class="alert2">
            <p><b>5. {{questions[0]}}</b><img src="https://i.gifer.com/72gi.gif" width="40" height="40"></p>
            <p><input name="FIFTH" type="checkbox" value="A"> {{answersA[4]}}</p>
            <p><input name="FIFTH" type="checkbox" value="B"> {{answersB[4]}}</p>
            <p><input name="FIFTH" type="checkbox" value="C"> {{answersC[4]}}</p>
            <input class = "button2" type="submit" value="Отправить">
    </div>  
    <p align = "center"><img src="https://i.gifer.com/ZAc2.gif"></p>          
</body>
</html>